.header-styles{
    .navbar-link{
        transition-duration: 100ms;
        color: rgb(50, 50, 50)!important;
        font-size: 20px;
        margin-right: 30px;
        border-bottom: 3px solid rgb(255, 255, 255);
    }
    .navbar-link:hover{
        transition-duration: 100ms;
        border-bottom: 3px solid rgb(17, 159, 242);
    }
    .navbar-link-1{
        transition-duration: 100ms;
        color: rgb(244, 152, 40)!important;
        font-weight: 600;
        font-size: 16px;
        margin-right: 40px;
    }
    .navbar-link-1:hover{
        transition-duration: 100ms;
        color: rgb(193, 114, 16)!important;;
    }
}