.home-styles{
    .hero1{
        background: url("../public/img/hero-2.PNG");
        height: 56vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero2{
        background: url("../public/img/hero-1.PNG");
        height: 56vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero-layouts{
        padding-top: 15%;
    }
}