.login-styles{

  .bg-signin{
    background-image: url("../public/img/loginBg-2.png");
    overflow: hidden;
  
    /* Full height */
    height: 100vh; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-inp{
    color: rgb(0, 0, 0);
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(52, 50, 50);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #162a4600;
    position: relative;
    left: 30px;
    text-align: left;
    width: 60%;
  }

  .login-inp:focus{
    outline: #215c7100;
    border-bottom: 3px solid rgba(27, 119, 156, 0.687);
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .username-img{
    position: relative;
    right: 1%;
  }
      
  .login-btn{
    background-color: rgb(51, 167, 222)!important;
    border: 1px solid rgb(6, 150, 172)!important;
    border-radius: 55px!important;
    padding:12px 50px 12px 50px!important;
    font-weight: 500!important;
    color: white;
    width: 60%;
  }
  .login-btn:hover{
    transition-duration: 300ms;
    background-color: rgb(6, 94, 165)!important;
    color: rgb(238, 238, 238);
  }
}